.multiselect-container {
  position: fixed;
  display: flex;
  width: 650px;
  height: 100%;
  right: 0;
  bottom: 0;
  background-color: rgb(248, 248, 248);
  z-index: 303;
  top: 0;
}

.multiselect-container-change-mode {
  position: fixed;
  display: flex;
  width: 36%;
  height: 100%;
  right: 0;
  bottom: 0;
  background-color: rgb(248, 248, 248);
  z-index: 703;
  top: 0;
}
