.content-container {
  margin: 0 auto;
  width: 64%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.main {
  font-weight: 300;
  font-size: 27px;
  margin: 15px 0;
}

.main-title {
  font-weight: 300;
  font-size: 27px;
  margin-right: 15px;
}

.constructor-container {
  padding: 35px 25px;
  position: relative;
  width: 600px;
  right: 0;
  top: 0;
  height: 100%;
  background-color: white;
  z-index: 101;
  position: fixed;
}

.constructor-container-halls {
  width: 900px;
}



.close-constructur {
  position: absolute;
  left: -20px;
  top: 50%;
  z-index: 500;
}

.dark-ground {
  background: #000;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.main-nothing{
  font-size: 25px;
  margin-top: 20px;
  font-weight: 300;
}

.content-loader{
  z-index: 300;
  position: fixed;
  top: 0;
  width: 100%; 
  height: 3px; 

  content: '';
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  animation: gradient 2s ease infinite;
  background-size: 300% 300%;
}