.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.form-container {
  width: 500px;
}

.form-container form {
  padding: 0 36px;
}

.button-container {
  text-align: center;
  font-size: 17px;
  margin-top: 30px;
}

.button {
  color: white;
  padding: 10px 5px;
  width: 40%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.3s;
  cursor: pointer;
  color: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  --borderWidth: 2px;
  background: #f4f4f4;
  border: none;
  position: relative;
  border-radius: var(--borderWidth);
}

.button:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: gradient 6s ease infinite;
  background-size: 300% 300%;
}

.button:disabled {
  cursor: wait;
}

.button:disabled::after {
  animation: gradient 1s ease infinite;
}

.button:hover::after {
  animation: gradient 2s ease infinite;
}

.title {
  text-align: center;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 200% auto;
  color: #000;
  font-weight: 300;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
