.menu {
  z-index: 22;
  padding: 15px 30px 15px 30px;
  min-height: 96.9vh;
  width: 210px;
  background-color: rgb(5, 96, 231);
}

.menu a {
  font-size: 18px;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.tab {
  padding: 7px 15px;
}

.tab:hover {
  background-color: #206fc8;
}

.tab-active:hover {
  background-color: rgb(9, 81, 189);
}
.tab-active {
  background-color: rgb(9, 81, 189);
}

.menu-title {
  font-size: 27px;
  color: white;
  margin-top: 25px;
  margin-bottom: 20px;
}

.menu-item-icon{
  vertical-align:top;
  margin: auto;
  margin-right: 5px;
}
