.container-item {
  width: 250px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
  margin-right: 10px;
  padding: 10px 20px;
}

.field,
.number,
.checkbox {
  margin-bottom: 4px;
}
.number-title,
.field-title,
.checkbox-title {
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
}

.number-value,
.field-value {
  font-size: 18px;
  font-weight: 300;
}

.checkbox-value svg {
  vertical-align: top;
}

.buttons-container {
  float: right;
}
