.hall-row-item{
    margin-right: 10px;
    width: 17px;
    height: 25px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}

.hall-empty-place{
    background-color: #d6d6d6;
}