.multiselect-column-2 {
  min-height: 100vh;

}

.multiselect-column-1 {
  min-height: 100vh;

}

.multiselect-column {
  width: 47%;
  padding: 20px;
}

.multiselect-column-title {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}
