.multiselect-column-2 {
  min-height: 99%;

}

.multiselect-column-1 {
  min-height: 99%;

}

.multiselect-column {
  width: 47%;
  padding: 10px 15px 0;
}

.multiselect-column-title {
  font-size: 33px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
}
