.constructor-main {
  margin-bottom: 55px;
  padding: 15px 25px;
}

.constructor-main-title {
  font-size: 27px;
  font-weight: 300;
  margin-right: 15px;
  display: inline-block;
  margin-top: 10px;
}

.constructor-content {
  width: 90%;
  margin: 0 auto;
}

.constructor-button {
  text-align: right;
}

.field-input {
  width: 100%;
}

.field-input-container {
  margin-bottom: 15px;
}

.textarea-input {
  width: 100%;
}

.textarea-input-container {
  margin-bottom: 15px;
}

.number-input {
  width: 100%;
}

.number-input-container {
  margin-bottom: 15px;
}

.image-dropzone-container {
  height: 100px;
}

.date-input-container{
    width: 100%;
}